*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
	src: url(../Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/Amazon-Ember-Medium.ttf);
	font-family: "amazon-bold" ;
}

@font-face {
	src: url(../Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Lt.ttf);
	font-family: "amazon-light" ;
}

body {
    height: 100%;
}

header {
    width: 100%;
    height: 132px;
}

/*inicio nav top*/

header #nav-top{
    background-color: #131921;
    height: 60px;
    display: flex;
}

/*inicio top left (logo amazon e endereco)*/

header #nav-top #top-left{
    display: flex;
    width: 357px;
    height: 60px;
    margin-left: 15px;
}

/*logo-amazon inicio*/
a#amazon-logo-link{
    width: 160px;
    padding: 3px 8px 0 0px;
    margin: 1px;
    display: flex;
    color: white;
    text-decoration: none;
}

a#amazon-logo-link div{
    font-size: 28px;
    font-weight: bolder;
    margin-top: 4px;
}

a#amazon-logo-link p{
    font-size: 12.5px;
    margin-top: 18px;
    font-weight:700 ;
}

/*logo-amazon fim*/

/*endreco inicio*/

#encereco-nav-link{
    margin-top: 5px;
    width: fit-content ;
    display: flex;
    text-decoration: none;
    color: white;
    min-width: 200px;
} 

#endereco-nav {
    padding: 0 9px 0 9px;
    margin: 5px 2px 5px 0;
}

#spn1{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}

#spn2{
    display: block;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}
/*endreco fim*/

/*fim top left (logo amazon e endereco)*/

/*Inicio Top Mid*/
nav#top-mid{
    max-width: 1180px;
    height: 50px;
    display: flex;
    float: none;
    flex: 1 1 auto;
    padding: 0 18px;
    margin: 10px 10px 4px 10px;
    padding: 0 10px;
}

#top-select{
    display: flex;
}
select{
    width: 64px;
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    text-align: center;
    border: 0;
    color: #636363;
}

#top-serach-bar{
    max-width: 1060px;
    width: 100%;
    padding: ;
}

#input-serach{
    border-radius: 0;
    width: 100%;
    border: 0;
    width: px;
    height: 40px;
    line-height: 15px;
    font-size: 14px;
    padding: 7px 10px 10px 0;
    padding-left: 10px;
}

#input-serach:focus{
    
    
}


#top-search-btn{
    width: 45px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0px 4px 4px 0px;
}

#serach-btn span{
    color: greay;
}


/*fim top mid*/

/*Inicio top right*/

#nav-tools{
    display: flex;
    padding: 3px 0 0 0;
}

#login-contas{
    margin-left: 6px;
    padding-right: 9px;
    padding-left: 9px;
    text-decoration: none;
    color: #fff;
}

#login-contas p:nth-last-of-type(1){
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

#login-contas p:nth-last-of-type(2){
    margin-top: 9px;
    cursor: pointer;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

#devolucao-pedidos{
    color: #fff;
    text-decoration: none;
}

#devolucao-pedidos p:nth-last-of-type(2){
    margin-top: 9px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400; 
}

/*Fim nav top*/

header #nav-mid{
    background-color: #232f3e;
    height: 39px;
}

header #nav-bot{
    height: 33px;
    border-top: 1px solid #e7e7e7;
    border-top: 1px solid rgba(0,0,0,.17);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0 9px 0 15px;
    line-height: 33px;
}

#nav-bot a{
    font-family: "amazon-bold";
    color: #333;
    font-size: 12px;
    text-decoration: none;
    padding: 12px 12px 5px 12px ;
}

#nav-bot a:hover{
    color: #CC0C39;
    border-bottom: #CC0C39 1px solid;
}

div#main-content {
    width: 100%;
    padding: 0 2%;
    margin: 30px auto;
    display: flex;
    max-width: 1500px;
}

#left-content{
    display: flex;
    align-items: center;
}

#left-content img {
    max-width: 290px;
    height: auto;
    margin-right: 20px;
    height: 308px;
}

#mid-content {
    max-width: 800px;
    line-height: 1.5;
}

#mid-content h1{
    font-weight: lighter;
    font-size: 28px;
}

#mid-content #link-editora{
    font-size: 14px;
}

#avaliacao-wraper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 19px;
}

#avaliacao-left{
    display: flex; 
    width: 300px;
}

#link-editora a{
    color: #007185;
    text-decoration: none;
}

#link-editora a:hover{
    color: #CC0C39;
    text-decoration: underline;
}

#avaliacao-left  a{
    color: #007185;
    text-decoration: none;
    margin-left:2% ;
    font-size: 14px;
}

#avaliacao-left  a:hover{
    color: #CC0C39;
    text-decoration: underline;
}

#avaliacao-wraper #avaliacao-p{
    color: #007185;
    font-size: 14px;
    text-decoration: none;
}

#avaliacao-wraper #avaliacao-p:hover{
    color: #CC0C39;
    text-decoration: underline;
}

#box-preco {
    width: 173px;
    height: 51px;
    border: 1px solid #007185;
    background-color: #EDFDFF;
    box-shadow: inset 0 0 0 3px #007185;
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    padding: 5px 10px 5px 11px;
    line-height: 19px;
    font-weight: 700;
}

#box-preco:hover {  
    background-color: #f7fafa;
}

#box-preco p:nth-last-of-type(1){
    color: #B12704;
    font-size: 14px;
}

#link-novo{
    text-decoration: none;
    color: #007185;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 24px;
}

#link-novo:hover {
    color: #CC0C39;
    text-decoration: underline;
}

#mid-content #main-txt {
    font-family: "amazon-bold";
    margin-top: 24px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

/* inicio campo de compra */

#right-content {
    width: 270px;
    border-radius: 4px;
    box-shadow: 0 0 0 4px rgba(0,0,0,.1);
    padding: 14px 18px;
    margin-left: 20px;
}

#right-content #preco-desconto {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 500;
}

#right-content #preco-desconto #spn-red {
    color: #CC0C39;
    font-size: 24px;
    font-weight: lighter;
}

#right-content #preco-desconto #spn-mini{
    font-weight: lighter;
    font-size: 13px;
    position: relative;
    top: -0.75em
}

#preco-anterior {
    font-size: 12px;
    color: #565959;
    margin-top: 2px;
    margin-bottom: 6px;
}

#prime-logo{
    width: 53px;
    height: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #1895cb;
    margin-bottom: 20px;
}
#prime-logo > span {
    color: #fbb25d;
    font-weight: normal;
}

#entrega-gratis {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#entrega-gratis > span {
    font-weight: 700;
}

#envio-para {
    color: #007185;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 11px;
}

#envio-para > span {
    margin-left: 17px;
}

#envio-para:hover {
    color:#d57a55;
}

#estoque {
    font-size: 18px;
    padding-top: 4px;
    color: #007600;
    margin-bottom: 15px;
}

#quantidade {
    font-size: 14px;
    margin-right: 2%;
    padding-right: 5px;
    margin-bottom: -3px;
}

#quantidade > input[type=number] {
    max-width: 40px;
}

input#add-carrinho {
    width: 230px;
    height: 31px;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 99px;
    background: #FFD814;
    border: 0;
}

#add-carrinho:hover{
    background: #FCD200;
}

input#comprar {
    margin-top: 7px;
    width: 230px;
    height: 31px;
    padding: 0 10px 0 11px;
    text-align: center;
    background: #FFA41C;
    border-radius: 99px;
    border: 0;
}

#comprar:hover {
    background: #FF8F00;
}

#right-content table{
    margin-top: 15px;
    font-size: 11px;
    width: 232px;
    height: 60px;
}

#right-content table td{
    padding: 2px;
    color: #565959;
}

#right-content table td > a{
    color: #007185;
    text-decoration: none;
}

#presente {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 1.5 ;
}

#presente > input{
    margin-right: 5px;
    border: 0;
}

#presente span{
    margin-left: 20px;
}

#right-content div#linha {
    width: 100%;
    height: 1px;
    background-color: rgb(189, 187, 187);
}

